<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.moontree.treekiosk.v3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KIOSK">

        <!-- ✅ MainActivity에 android:exported 추가 -->
        <activity
    android:name=".MainActivity"
    android:theme="@style/Theme.FullScreen"
    android:exported="true"
    android:configChanges="orientation|screenSize"
    android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ OAuthActivity도 android:exported 추가 -->
        <activity
            android:name="io.appwrite.oauth.OAuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="appwrite-callback-treekiosk"
                    android:host="oauth"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
